@import url('https://fonts.googleapis.com/css?family=Inter');

.allset-root * {
  font-family: 'Inter';
  color: #323232;
}

.slideOut {
  animation: slideOut 0.5s forwards; /* use the slideOut animation */
}

.slideIn {
  animation: slideIn 0.5s forwards; /* use the slideIn animation */
}

@keyframes slideIn {
  from {
    right: -30rem; /* start off screen */
  }
  to {
    right: 0; /* slide in to the right */
  }
}

@keyframes slideOut {
  from {
    right: 0; /* start on screen */
  }
  to {
    right: -30rem; /* slide off to the right */
  }
}
